<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Role</title>
</head>
<body>
<h1>Select Your Role</h1>
<!--<form action="#" method="get">-->
<!--    <button type="button" onclick="location.href='/register/donor'">Donor</button>-->
<!--    <button type="button" onclick="location.href='/register/yachak'">Yachak</button>-->
<!--    <button type="button" onclick="location.href='/register/admin'">Admin</button>-->
<!--    <button type="button" onclick="location.href='/register/superadmin'">Super Admin</button>-->
<!--</form>-->
<h1>this is index</h1>
</body>
</html>
